<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2024 Code Inc. - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  ~ Visit <https://www.codeinc.co> for more information
  -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd" bootstrap="tests/bootstrap.php" colors="true" cacheDirectory=".phpunit.cache">
  <!-- Test Suites -->
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <!-- PHP Configuration -->
  <php>
    <!-- Other PHP settings -->
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="display_errors" value="1"/>
    <ini name="memory_limit" value="512M"/>
  </php>
</phpunit>
